}
nav{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
   
}
.nav-mid> ul,li{
    
    font-size: 20px;
    color: gray;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
.lang > ul,li{display: flex;gap: 5px;}

ul, li{
    
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}
.part1{
    
    padding-top: 100px;
    background: #f0f0f0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}
.img1{width: 800px;margin-bottom: 8%;}
.img2{width: 330px;}

@media (max-width: 1000px){
    .img1{
        width: 200px;
    }
    .img2{
        width: 100px;
    }
}
    
